.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafafa;
  }
  
  .contact-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .contact-form {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  .contact-form textarea {
    height: 150px;
  }
  
  .contact-form button {
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  