<div class="app">

  <h1>User Deatails</h1>
  <app-user-card [user]="user"></app-user-card>

  <app-registration-form></app-registration-form>
</div>

<nav>
  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="about">About</a></li>
    <li><a routerLink="contact">Contact</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>


<div class="api">
    <h1>API Data</h1>
  <app-posts-list></app-posts-list>
</div>

<div>
  <app-counter></app-counter>
</div>

<div>
  <app-parent>cd</app-parent>
</div>

<div>
  <app-users-list></app-users-list>
</div>