<div class="app">

  <h1>User Deatails</h1>
  <app-user-card [user]="user"></app-user-card>

  <app-registration-form></app-registration-form>
</div>

<nav>
  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="about">About</a></li>
    <li><a routerLink="contact">Contact</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>


<div class="api">
    <h1>API Data</h1>
  <app-posts-list></app-posts-list>
</div>

<div>
  <app-counter></app-counter>
</div>

<div>
  <app-parent>cd</app-parent>
</div>

<div>
  <app-users-list></app-users-list>
</div>

<div class="directive">
  <h1>Custom Directive</h1>
  <div>
    <h2 appHighlight="lightblue">Hover me to see a blue highlight</h2>
    <p appHighlight="lightgreen">Hover over this paragraph for a green highlight!</p>
    <p appHighlight>Hover over this paragraph to see the default highlight color!</p>
  </div>
</div>

<div>

  <!-- startserver cmd:- json-server --watch db.json -->

  <app-task-manager></app-task-manager>
</div>

<div>
  <app-products-list></app-products-list>
</div>

<div class="directive">
  <h1>Lazy Rounting</h1>

  
  <div class="navbar">
    <span class="nav-item">
      <a routerLink="/usersroute" routerLinkActive="active">Users</a>
    </span>
    <span class="nav-item">
      <a routerLink="/ordersroute" routerLinkActive="active">Orders</a>
    </span>
  </div>
  

</div>

<div class="directive">

  <h1>Custom Date Picker</h1>
  <app-simple-form></app-simple-form>

</div>

<div>
  <app-fileupload></app-fileupload>
</div>